@page
@model EduCore.Web.Pages.Student.Course.DetailModel
@{
    Layout = "../../Shared/_Layout.cshtml";
    var c = @Model.CourseDetail;
}

<!DOCTYPE html>
<html lang="en">



<body>

    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>

    <div class="container-fluid py-5 mt-5">
        <div class="container py-5">
            <div class="row g-4 mb-5">
                <div class="col-lg-8 col-xl-9">

                    <div class="row g-4 ">
                        <div class="col-lg-6">
                            <div class="border rounded">
                                <a href="#">
                                    <img src="@c.Url" class="img-fluid rounded" alt="Image">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="fw-bold mb-3">@c.Title</h4>
                            <p class="mb-3">Category: @c.SubCategoryName
                            <h5 class="fw-bold mb-3">@c.Rating rating </h5>

                            <div class="d-flex mb-4">
                                <span class="rating d-flex align-items-center mb-2">
                                    @{
                                        var floorStars = (int)Math.Floor(c.Rating??0);
                                        var halfStar = @c.Rating % 1 >= 0.5m;
                                        var totalStars = 5;
                                    }
                                    @for (var i = 0; i < floorStars; i++)
                                    {
                                        <i class="fas fa-star text-primary"></i>
                                    }
                                    @{
                                        if (halfStar)
                                        {
                                            <i class="fas fa-star-half-alt text-primary"></i>
                                        }
                                    }
                                    @for (var i = 0; i < totalStars - (floorStars + (halfStar ? 1 : 0)); i++)
                                    {
                                        <i class="far fa-star text-primary"></i>
                                    }

                                </span>
                            </div>

                            <p class="mb-4">By @c.InstructorName'teacher</p>

                            <div class=" mt-3 mb-1">
                                <span class="badge text-muted bg-success d-inline">@c.RatingNumber rating</span>
                                <span class="badge text-muted bg-success d-inline">@c.StudentNumber student</span>
                                

                            </div>

                        </div>
                        <div class="col-lg-12 p-0">
                            <nav>
                                <div class="nav nav-tabs mb-3">
                                    <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                            id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                            aria-controls="nav-about" aria-selected="true">
                                       Descriptions
                                    </button>
                                    <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                            id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                            aria-controls="nav-mission" aria-selected="false">
                                        Reviews
                                    </button>
                                </div>
                            </nav>
                            <div class="tab-content mb-5">
                                <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">

                                   <p>@c.Description</p>

                                </div>

                                <!-------------------review----------------------------------->

                                <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                    @foreach (var r in c.Reviews.OrderByDescending(r=>r.Rating).Take(8))
                                    {
                                        <div class="d-flex">
                                            <img src="@r.UrlImgStudent" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                            <div class="">
                                                <p class="mb-2" style="font-size: 14px;">@r.ReviewDate.ToString("MMMM dd, yyyy")</p>
                                                <div class="d-flex justify-content-between">
                                                    <h5>@r.StudentName</h5>
                                                    @{
                                                        var floorStars2 = (int)Math.Floor(r.Rating);
                                                        var halfStar2 = r.Rating % 1 >= 0.5m;
                                                        var totalStars2 = 5;
                                                    }
                                                    @for (var i = 0; i < floorStars2; i++)
                                                    {
                                                        <i class="fas fa-star text-primary"></i>
                                                    }
                                                    @{
                                                        if (halfStar2)
                                                        {
                                                            <i class="fas fa-star-half-alt text-primary"></i>
                                                        }
                                                    }
                                                    @for (var i = 0; i < totalStars2 - (floorStars2 + (halfStar2 ? 1 : 0)); i++)
                                                    {
                                                        <i class="far fa-star text-primary"></i>
                                                    }
                                                </div>
                                                <p class="text-dark">
                                                   @r.Comment
                                                </p>
                                            </div>
                                        </div>


                                    }   
                                   
                                </div>

                                <div class="tab-pane" id="nav-vision" role="tabpanel">
                                    <p class="text-dark">
                                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                        amet diam et eos labore. 3
                                    </p>
                                    <p class="mb-0">
                                        Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                        Clita erat ipsum et lorem et sit
                                    </p>
                                </div>
                            </div>
                        </div>
                        <form action="#">
                            <h4 class="mb-5 fw-bold">Leave a Reply</h4>
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="border-bottom rounded">
                                        <input type="text" class="form-control border-0 me-4" placeholder="Yur Name *">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="border-bottom rounded">
                                        <input type="email" class="form-control border-0" placeholder="Your Email *">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="border-bottom rounded my-4">
                                        <textarea name="" id="" class="form-control border-0" cols="30" rows="8" placeholder="Your Review *" spellcheck="false"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between py-3 mb-5">
                                        <div class="d-flex align-items-center">
                                            <p class="mb-0 me-3">Please rate:</p>
                                            <div class="d-flex align-items-center" style="font-size: 12px;">
                                                <i class="fa fa-star text-muted"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <a href="#" class="btn border border-secondary text-primary rounded-pill px-4 py-3"> Post Comment</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3">
                    <div class="row g-4 fruite ">
                        <div class="col-lg-12">
                            <div class="input-group w-100 mx-auto d-flex mb-4">
                                <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                            </div>
                            <div class="mb-4">
                                <h4>Categories</h4>
                                <ul class="list-unstyled fruite-categorie">
                                    <li>
                                        <div class="d-flex justify-content-between fruite-name">
                                            <a href="#"><i class="fas fa-apple-alt me-2"></i>Apples</a>
                                            <span>(3)</span>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <h4 class="mb-4">Featured products</h4>

                            <div class="d-flex align-items-center justify-content-start">
                                <div class="rounded me-4" style="width: 100px; height: 100px;">
                                    <img src="img/vegetable-item-6.jpg" class="img-fluid rounded" alt="">
                                </div>
                                <div>
                                    <h6 class="mb-2">Big Banana</h6>
                                    <div class="d-flex mb-2">
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star text-secondary"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h5 class="fw-bold me-2">2.99 $</h5>
                                        <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center my-4">
                                <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="position-relative">
                                <img src="img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                    <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <h1 class="fw-bold mb-0">Related course</h1>


            <div class="vesitable">
                <div class="owl-carousel vegetable-carousel justify-content-center row container">


                    @foreach (var course in Model.RelatedCourses)
                    {
                        <div class="col-md-12 col-sm-6 my-3">
                            <div class="p-3 card h-100 shadow rounded-4 border-5 border-dark item digital">
                                <div class="position-relative">
                                    <div class="position-absolute m-3">
                                        <span class="badge text-muted bg-primary">@course.Duration</span>
                                    </div>
                                    <a href="/Student/Course/Detail?cId=@course.CourseId">
                                        <img src="@course.Url" class="w-100 img-fluid rounded-3" alt="image">
                                    </a>
                                </div>
                                <div class="card-body p-0">
                                    <div class=" mt-3 mb-1">
                                        <span class="badge text-muted bg-success d-inline">@course.Level</span>
                                        <span class="badge text-muted bg-success d-inline">@course.SectionNumber section</span>
                                        <span class="badge text-muted bg-success d-inline">@course.LectureNumber lecture </span>
                                    </div>
                                    <h5 class="py-2 m-0">
                                        @course.Title-
                                        <a href="/Student/Instructor/Detail?insId=@course.InstructorId">
                                            <span class="text-primary">
                                                @course.InstructorName
                                            </span>
                                            <a />
                                    </h5>
                                    <div class="card-text">
                                        <span class="rating d-flex align-items-center mb-2">
                                            <h6 class="text-primary m-0 me-2">@course.Rating</h6>
                                            @{
                                                var floorStars3 = (int)Math.Floor(course.Rating ?? 0);
                                                var halfStar3 = course.Rating % 1 >= 0.5m;
                                                var totalStars3 = 5;
                                            }
                                            @for (var i = 0; i < floorStars3; i++)
                                            {
                                                <i class="fas fa-star text-primary"></i>
                                            }
                                            @{
                                                if (halfStar3)
                                                {
                                                    <i class="fas fa-star-half-alt text-primary"></i>
                                                }
                                            }
                                            @for (var i = 0; i < totalStars3 - (floorStars3 + (halfStar3 ? 1 : 0)); i++)
                                            {
                                                <i class="far fa-star text-primary"></i>
                                            }
                                            <p class="text-primary m-0 me-2">(@course.RatingNumber rating)</p>
                                        </span>
                                        <h4 class="">
                                            @course.PriceAfterSale?.ToString("N0")đ
                                            <span class="fs-6 text-black opacity-25 text-decoration-line-through">
                                                @course.Price?.ToString("N0")
                                            </span>
                                            <span><h6 class="d-inline">-@course.Sale%</h6></span>
                                        </h4>
                                        <div class="d-flex flex-wrap mt-2">
                                            <a href="#" class="btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                                            <a href="#" class="btn btn-outline-dark text-capitalize me-2">
                                                <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                            </a>
                                            <a href="#" class="btn btn-outline-dark text-capitalize">
                                                <iconify-icon icon="mdi:cart-outline" class="fs-5 pt-1"></iconify-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                   
                   
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>