@page
@using CourseDomain.DTOs
@model CourseWeb.Pages.Student.IndexModel
@{

    Layout = "../Shared/_Layout.cshtml";
    var categoryList = ViewData["Categories"] as List<CategoryDTO>;
    var cateId = (int?)ViewData["CateId"];
    var numberCourses = (int?)ViewData["NumberCourses"];
    var numberCertificates = (int?)ViewData["NumberCertificates"];
    var numberStudents = (int?)ViewData["NumberStudents"];

}

<!DOCTYPE html>
<html lang="en">



<body>




    <section id="hero">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-lg-3 offset-md-2 padding-large ps-lg-0 pe-lg-5 p-5">
                    <h2 class="display-2 fw-semibold">Great Online Platform</h2>
                    <p class="secondary-font my-4 pb-2">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
                        fugit at quia
                        tenetur expedita, consequuntur aspernatur explicabo earum odio.
                    </p>
                    <div>
                        <form id="form" class="d-flex justify-content-between position-relative">
                            <input type="text" name="email" placeholder="Search Your Courses ..." class="form-control w-100">
                            <button class="btn btn-primary px-4 py-2 position-absolute end-0"
                                    style="height: -webkit-fill-available;">
                                <iconify-icon icon="ion:search" class="fs-4 py-1"
                                              style="vertical-align: middle;"></iconify-icon>
                            </button>
                        </form>

                    </div>
                </div>
                <div class="col-md-4 col-lg-7 d-block d-md-none d-lg-block p-5">
                    <img src="../images/billboard-img.jpg" alt="img" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section id="service" class="padding-medium">
        <div class="container">
            <div class="text-center">
                <h2 class="display-5 fw-semibold">Why to <span class="text-primary"> choose us</span></h2>
                <p class="secondary-font">Get many features from us exactly what you are looking for.</p>
            </div>

            <div class="row g-md-4 mt-2">
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="fluent:notepad-person-24-regular"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">Professional Instruction</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="la:certificate"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">Certified Courses</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="mdi:virtual-meeting"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">Learn Courses Online</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="mdi:school-online"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">5000+ Online Courses</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="uil:notebooks"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">Free Online Ebooks</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="services-element p-4 rounded-3 d-flex">
                        <div>
                            <iconify-icon class="service-icon fs-1" icon="uiw:global"></iconify-icon>
                        </div>

                        <div class="ps-3">
                            <h4 class="py-2 m-0">Global Location</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint dolores cupiditate, commodi
                                voluptatem corrupti voluptatibus quisquam officiis quod id.
                            </p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

    <section id="register">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 ">
                    <img src="../images/register-img.png" alt="img" class="img-fluid">
                </div>
                <div class="col-md-4 ">
                    <div class="mb-5 mt-5 mt-lg-0">
                        <h2 class="display-5 fw-semibold"> Get Your <span class="text-primary">Skills Certificate</span></h2>
                        <p class="secondary-font">
                            Simple steps to get your quality skills certificate
                            through WorldCourse.
                        </p>
                    </div>

                    <form id="form">
                        <input type="text" name="email" placeholder="Write Your Name*" class="form-control w-100 mb-4">
                        <input type="email" name="email" placeholder="Write Your Email Address*" class="form-control w-100 mb-4">
                        <button class="btn btn-primary px-5 py-3 mt-2"> Get Started now</button>
                    </form>

                </div>

            </div>
        </div>
    </section>
    <!----------------------------------ListCourse---->
    <section id="top-sell" class="padding-medium">
        <div class="text-center mb-5">
            <h2 class="display-5 fw-semibold">Check our <span class="text-primary">top selling courses</span></h2>
            <p class="secondary-font">Peoples are not only searching but buying these products.</p>
        </div>

        <div class="container ">


            <div class="text-center p-0">
                <p class="p-2 m-2 mb-0 d-flex justify-content-center align-items-center">
                    <a href="/Index">
                        <button id="btn_cate_all" onclick="setActiveButton('btn_cate')" class="filter-button px-3 py-2 mt-2 rounded-pill me-4 @(cateId == null ? "active" : "disactive")">
                            All
                        </button>
                    </a>
                    @foreach (var cate in categoryList)
                    {
                        <a href="/Index?cateId=@(cate.CategoryId)">
                            <button id="btn_cate" onclick="setActiveButton('btn_cate')" class="filter-button px-3 py-2 mt-2 rounded-pill me-4 @(cate.CategoryId==cateId ? "active" : "disactive")">
                                @cate.CategoryName
                            </button>
                        </a>
                    }
                </p>
            </div>


            <div class="container">
                <div class="row " id="courses_content">
                    @foreach (var course in Model.TopSellingCourses.Take(8))
                    {
                        <div class="col-md-3 col-sm-6 my-3">
                            <div class="p-3 card h-100 shadow rounded-4 border-5 border-dark item digital">
                                <div class="position-relative">
                                    <div class="position-absolute m-3">
                                        <span class="badge text-muted bg-primary">@course.Duration</span>
                                    </div>
                                    <a href="courses-details.html">
                                        <img src="@course.Url" class="w-100 img-fluid rounded-3" alt="image">
                                    </a>
                                </div>
                                <div class="card-body p-0">
                                    <div class=" mt-3 mb-1">
                                        <span class="badge text-muted bg-success d-inline">@course.Level</span>
                                        <span class="badge text-muted bg-success d-inline">@course.SectionNumber section</span>
                                        <span class="badge text-muted bg-success d-inline">@course.LectureNumber lecture </span>
                                    </div>
                                    <a href="courses-details.html">
                                        <h5 class="py-2 m-0">@course.Title-<span class="text-primary">@course.InstructorName</span></h5>
                                    </a>
                                    <div class="card-text">
                                        <span class="rating d-flex align-items-center mb-2">
                                            <h6 class="text-primary m-0 me-2">@course.Rating</h6>
                                            @{
                                                var floorStars = (int)Math.Floor(course.Rating??0);
                                                var halfStar = course.Rating % 1 >= 0.5m;
                                                var totalStars = 5;
                                            }
                                            @for (var i = 0; i < floorStars; i++)
                                            {
                                                <i class="fas fa-star text-primary"></i>
                                            }
                                            @{
                                                if (halfStar)
                                                {
                                                    <i class="fas fa-star-half-alt text-primary"></i>
                                                }
                                            }
                                            @for (var i = 0; i < totalStars - (floorStars + (halfStar ? 1 : 0)); i++)
                                            {
                                                <i class="far fa-star text-primary"></i>
                                            }
                                            <p class="text-primary m-0 me-2">(@course.RatingNumber rating)</p>
                                        </span>
                                        <h4 class="">
                                            @course.PriceAfterSale?.ToString("N0")đ
                                            <span class="fs-6 text-black opacity-25 text-decoration-line-through">
                                                @course.Price?.ToString("N0") 
                                            </span>
                                            <span><h6 class="d-inline">-@course.Sale%</h6></span>
                                        </h4>
                                        <div class="d-flex flex-wrap mt-2">
                                            <a href="#" class="btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                                            <a href="#" class="btn btn-outline-dark text-capitalize me-2">
                                                <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                                            </a>
                                            <a href="#" class="btn btn-outline-dark text-capitalize">
                                                <iconify-icon icon="mdi:cart-outline" class="fs-5 pt-1"></iconify-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>


            </div>










        </div>

    </section>




    <section id="achievement" style="background-color: #f5f5f5;">
        <div class="container padding-medium">
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="../images/topic.png" alt="img" class="img-fluid">
                        <h4 class="py-2 mt-3 m-0">@numberCourses+ Courses</h4>
                        <p class="text-uppercase">choose your choice</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="../images/student.png" alt="img" class="img-fluid">
                        <h4 class="py-2 mt-3 m-0">@numberStudents+ Students</h4>
                        <p class="text-uppercase">bright future</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="../images/instruction.png" alt="img" class="img-fluid">
                        <h4 class="py-2 mt-3 m-0">@Model.Instructors.Count Instructors</h4>
                        <p class="text-uppercase">trained professionals</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="../images/award.png" alt="img" class="img-fluid">
                        <h4 class="py-2 mt-3 m-0">@numberCertificates+ Certificates</h4>
                        <p class="text-uppercase">hard process</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid vesitable py-5">
        <div class="container py-5">
            <h1 class="mb-0">Professtional Instructors<span><p class="badge text-muted">@Model.Instructors.Count result</p></span></h1>
            <div class="owl-carousel vegetable-carousel justify-content-center">

                @foreach (var i in @Model.Instructors)
                {
                    <div class="shadow-lg  rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="@i.UrlImage" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        @if(i.Rating>=(decimal)4.7){
                            <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Best instructor</div>

                        }
                        <div class="p-4 rounded-bottom">
                            <h4>@i.FullName</h4>
 
                                <span>
                                    @i.SubCategories.Select(sc => sc.SubCategoryName).Aggregate((s1, s2) => s1 + ", " + s2)                                
                                </span>
                           

                            <div class=" mt-3 mb-1">
                                <span class="badge text-muted bg-success d-inline">@i.NumberStudent students</span>
                                <span class="badge text-muted bg-success d-inline">@i.NumberCourse courses</span>
                                <span class="badge text-muted bg-success d-inline">
                                    @i.Rating<span>
                                        <i class="fas fa-star text-primary"></i>
                                    </span> rating
                                </span>

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

    <!-------------Blog----------->
   @*  <section id="blog" class="padding-medium">
        <div class="container">
            <div class="text-center">
                <h2 class="display-5 fw-semibold">view our <span class="text-primary"> latest blogs</span></h2>
                <p class="secondary-font">Get many features from us exactly what you are looking for.</p>
            </div>

            <div class="row ">
                <div class="col-md-4 my-5">
                    <div class="blog-post">
                        <a href="single-post.html">
                            <div class="image-holder zoom-effect rounded-3">
                                <img src="images/blog2.jpg" alt="img" class="post-image img-fluid rounded-3">
                            </div>
                        </a>
                        <div class="mt-3">
                            <a href="#">
                                <p class="text-black-50 m-1">Dec 1, 2024</p>
                            </a>
                            <a href="single-post.html">
                                <h4 class="m-0">Education Is For Human Greatness And Achievments</h4>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="text-center">
                    <a href="blog.html" class="btn btn-primary px-5 py-3 "> view all</a>
                </div>

            </div>
    </section>
 *@


    <section id="testimonial" style="background-image:url(../images/background-img.jpg); background-repeat: no-repeat; ">
        <div class="container padding-medium">
            <div class="text-center">
                <h2 class="display-5 fw-semibold">see what our <span class="text-primary"> learners say</span></h2>
                <p class="secondary-font">Here we got the real proof to express our work. Our learners expressed our work.</p>
            </div>
            <div class="row">
                <div class="w- offset-md-1 col-md-10">
                    <div class="swiper testimonial-swiper">
                        <div class="swiper-wrapper">
                            @foreach (var r in @Model.Reviews)
                            {
                                <div class="swiper-slide">
                                    <div class="text-center my-4">
                                        <img src="@r.UrlImgStudent" alt="img" class="img-fluid rounded-circle">
                                        <h5 class="m-0 mt-2">@r.StudentName</h5>
                                        <p class="text-muted">@r.CourseName</p>
                                        <span class="rating  mb-2">
                                            @{
                                                var floorStars = (int)Math.Floor(r.Rating);
                                                var halfStar = r.Rating % 1 >= 0.5m;
                                                var totalStars = 5;
                                            }
                                            @for (var i = 0; i < floorStars; i++)
                                            {
                                                <i class="fas fa-star text-primary"></i>
                                            }
                                            @{
                                                if (halfStar)
                                                {
                                                    <i class="fas fa-star-half-alt text-primary"></i>
                                                }
                                            }
                                            @for (var i = 0; i < totalStars - (floorStars + (halfStar ? 1 : 0)); i++)
                                            {
                                                <i class="far fa-star text-primary"></i>
                                            }
                                            @{
                                                var reviewDate = r.ReviewDate;
                                                var now = DateTime.Now;

                                                var totalDays = (now - reviewDate).TotalDays;
                                                var totalMonths = (now.Year - reviewDate.Year) * 12 + now.Month - reviewDate.Month;
                                                var totalYears = now.Year - reviewDate.Year;

                                                if (reviewDate.Date == now.Date)
                                                {
                                                    <span class="text-muted"> @reviewDate.ToString("dddd-MM")</span>
                                                }
                                                else if (totalDays < 30)
                                                {
                                                    <span class="text-muted">@($"{(int)totalDays} days ago")</span>
                                                }
                                                else if (totalMonths < 12)
                                                {
                                                    <span class="text-muted">@totalMonths months ago</span>
                                                }
                                                else
                                                {
                                                    <span class="text-muted">@totalYears years ago</span>
                                                }
                                            }

                                        </span>
                                        <p class="wrap lh-lg fw-bold text-black-50" style="word-wrap: break-word; white-space: normal;">
                                            @r.Comment
                                        </p>
                                    </div>
                                </div>

                            }



                        </div>

                        <div class="swiper-pagination"></div>

                    </div>
                </div>
            </div>
        </div>


    </section>





</body>

</html>